@font-face {
  font-family: "Cafe24Ohsquareair";
  font-weight: bold;
  src: url("./fonts/Cafe24Ohsquareair.ttf")
}

@font-face {
  font-family: "Cafe24Simplehae";
  src: url("./fonts/Cafe24Simplehae.ttf");
}

@font-face {
  font-family: "Cafe24Ssurround";
  src: url("./fonts/Cafe24Ssurround.ttf");
}

@font-face {
  font-family: "Cafe24SsurroundAir";
  src: url("./fonts/Cafe24SsurroundAir.ttf");
}

@font-face {
  font-family: "NanumSquareL";
  src: url("./fonts/NanumSquareL.otf");
}

@font-face {
  font-family: "NanumSquareEB";
  src: url("./fonts/NanumSquareEB.ttf");
}

@font-face {
  font-family: "NanumSquareB";
  src: url("./fonts/NanumSquareB.ttf");
}
