<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
     <div>
                    <!-- <img
                        src='/images/test.jpg'
                        width='300'
                        height='200'
                        alt='My Image'
                        className='title'
                    ></img>
     -->
                    <h3>MBTI 테스트</h3>
                    <!-- <img src='/images/test.jpg' width='300' height='200'></img> -->
                    <li>
                        <Link href=' '>
                            <button>나는 어떤 놀이기구 일까?</button>
                        </Link>
                    </li>
        <p>
            {{ Cnt_mb }}
         </p>
 
    </div>
    </body>

</html>